:root {
	--main-text-color: #757575;
	--nav-text-color: #000000;
	--main-header-color: #ffffff;
	--secondary-header-color: #212121;
	--border-color: #eeeeee;
	--accent-color: #2196f3;
	--btn-hover-color: #188ce8;
	--main-bcg-color: #ffffff;
	--secondary-bcg-color: #f5f4fa;
	--hero-bcg-color: #2f303a;
	--footer-contacts-color: rgba(255, 255, 255, 0.6);
	--footer-bcg-color: #2f303a;
	--border-line-color: #ececec;
	--icons-main-color: #afb1b8;
	--items: 4;
	--indent: 30px;
	--btn-close-radius: 0;
	--animation: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
